




<div class="container">
  <div class="row">
    <div class="col"> <p>
    <strong>Object:</strong>
    <%= email.object %>
  </p>
 </div>


    <div class="col">  <p>
    <strong>Content:</strong>
    <%= email.content %>
  </p>
  <p>
  <%= link_to "Show this email", email %>
</p>



  </div>
   
  </div>
</div>